nav {
  display: flex;
  background-color: #F8F594; }
  nav a {
    flex: 1;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: blue; }
    nav a:hover {
      background-color: yellow; }
    nav a:active {
      background-color: greenyellow; }
    nav a.active {
      font-weight: bold;
      font-size: 24px;
      color: purple; }

* {
  box-sizing: border-box; }

article h3 {
  font-size: 30px;
  color: #5d12e7; }

article p {
  font-size: 20px;
  color: #316901; }
